option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    ENVIRONMENT: "production"
    PORT: "8000"
  aws:elasticbeanstalk:container:python:environment:
    ENVIRONMENT: "production"
    PORT: "8000"
